@charset "UTF-8";
/*time_capsule_style.css*/
@import url("../_fonts/RopaSansRegular/stylesheet.css");


.main {
	margin: 1px;
	padding: 1px;
}
	
#container {
	width: 95%;
	max-width: 960px;
	min-width: 0px;
	margin-right: auto;
	margin-left: auto;
	font-size: 16px;
	border-bottom-width: thin;
	border-bottom-style: solid;
	border-bottom-color: #FFF;
	

	}
#headline {
	margin-bottom: 50px;
	height: 28px;
}
#section{
	width: 95%;
	margin-right: auto;
	margin-left: auto;
	clear: left;
	max-width: 960px;
	min-width: 0px;
}


#video_main{
	width: 100%;
	float: none;
	margin-bottom: 20px;
	clear: none;
	border-bottom-width: thin;
	border-bottom-style: solid;
	border-bottom-color: #FFF;
	text-align: center;	
}

#notes{
	background-color: #FFFFFF;
	width: 47%;
	float: right;
	padding-top: 10px;
	padding-right: 5px;
	padding-left: 10px;
	margin-left:;
/*	border-top-color: #0000FF;
	border-right-color: #0000FF;
	border-bottom-color: #0000FF;
	border-left-color: #0000FF;*/
	-webkit-border-radius: 1em 1em 1em 1em;
	-khtml-border-radius: 1em 1em 1em 1em;
	-moz-border-radius: 1em 1em 1em 1em;
	border-radius: 1em 1em 1em 1em;
	min-height: 400px
}

#tweets{
	width: 47%;
	clear: left;
	padding-top: 10px;
	padding-right: 5px;
	padding-left: 10px;
	color: #FFFFFF;
	font-family: RopaSansRegular, Garamond, serif;	
}

a:link {
	COLOR: #CCCCCC;
}
a:visited {
	COLOR: #CCCCCC;
}
a:hover {
	COLOR: #FFFF00;
}
a:active {
	COLOR: #CCCCCC;
}
	/*font-family: Tuffy, Arial, sans-serif;*/